<h1>联系我们</h1>

联系人：
<ul>
  <li>熊立  -  <%= link_to "Xiong, Li", user_path(:id => 6743) %></li>
</ul>


读书协会邮件列表：
<ul>
  <li> readingclub-nj@LIST.ALCATEL-LUCENT.COM </li>
</ul>
 本系统由罗国平开发；由Xiong,li; Yang, Jianbin; Fan, Ai Hua维护。</ul
