<h1>联系我们</h1>

联系人：
<ul>
  <li>熊立  -  <%= link_to "Xiong, Li", user_path(:id => 6743) %></li>
</ul>


读书协会邮件列表：
<ul>
  <li> readingclub-nj@LIST.ALCATEL-LUCENT.COM </li>
</ul>

开发小组:
<ul>
  <li>本系统由罗国平开发；由Xiong,li; Yao,Yao; Yang, Jianbin; Fan, Ai Hua; Li, Honggang维护。如有兴趣参加我们的开发小组请与我们联系。</li>
  <li> 本系统用Ruby+Rails开发，代码在 <a href="https://github.com/bearstand/bookclub"> Github</a>上 </li>
 
</ul>
