<div class="bookclub_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

  <p>注意：请勿错填webid，密码会重置并发至用户注册邮箱</p>

  <fieldset>
    <legend>重置密码</legend>

    <div>
      <label for="webid">web id</label>
    </div>

    <div>
      <%= form_tag({:controller => "users",
                    :action => "reset_password"},
                    :method => "post") do %>
      <%= text_field_tag :webid %>
    </div>

    <div>
      <label></label>
    </div>

    <div>
      <%= submit_tag "提交" %>
      <% end %>
    </div>

  </fieldset>

</div>
